################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/New folder
/.vs/slnx.sqlite
/WebApplication1/.vs/WebApplication1/FileContentIndex/092f0036-fe32-4e1b-b535-93c6e52a92ce.vsidx
